<html>
  <head>
    <title>Template</title>
  </head>
  <body>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,300"
      rel="stylesheet"
      type="text/css"
    />
    <div class="navbar">
      <ul class="navbar-container">
        <li>
          <a href="#" class="left-underline nav-button brand-logo"
            >Brand Logo</a
          >
        </li>
        <li class="nav-item">
          <a href="#" class="left-underline nav-button" data-scroll>Wallet</a>
        </li>
        <li class="nav-item">
          <a href="#" class="left-underline nav-button" data-scroll>Pictures</a>
        </li>
        <li class="nav-item active">
          <a href="#" class="left-underline nav-button" data-scroll>Home</a>
        </li>
      </ul>
    </div>
    <section>
      <h1>Hello.</h1>
      <h2>I’m a startup.</h2>
    </section>

    <div class="row">
      Hello from a row
      <app-item
        *ngFor="let x of [1, 2, 3]"
        [number]="x"
        [ngClass]="x === 1 ? 'active' : ''"
      ></app-item>
    </div>
    <section>
      <h1>Well</h1>
      <h2>This is some bold info!</h2>
      <div class="row">
        Hello from a row
        <app-item
          *ngFor="let x of [1, 2, 3]"
          [number]="x"
          [ngClass]="x === 1 ? 'active' : ''"
        ></app-item>
      </div>
    </section>

    <section>
      <h1>Well</h1>
      <h2>This is some bold info!</h2>
    </section>
    <footer>
      <section>
        <div class="item">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            interdum tortor ac dui malesuada, id molestie elit aliquam. Fusce
            laoreet nisl id tellus molestie mattis. Fusce vitae ante quis augue
            imperdiet rutrum a vitae purus. Etiam tincidunt enim id turpis
            varius, in condimentum elit.
          </p>
        </div>
      </section>
      <div class="footer-copyright">
        <div class="container">
          © 2011-2015 uplusion23, All rights reserved.
        </div>
      </div>
    </footer>
  </body>
</html>
